* {
    margin: 0px;
}

.logo {
    max-width: 250px;
}

.header {
    padding: 15px;
}

.banner {
    background-color: white;
    color: white;
    padding: 20% 20%;
    background-image: url('./images/Banner1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    font-size: 32px;
    font-family: "Brush Script MT";
}

.content {
    font-family: sans-serif;
    padding: 5% 45% 15% 10%;
    font-size: 25px;
    background-image: url('./images/flower.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 120% 0px;
}

.fancy-text {
    color: #FFD500;
}

.footer {
    background-color: #222222;
    color: white;
    padding: 30px;
}

.footer>ul {
    list-style: none;
    display: flex;
    justify-content: center;
}